* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

header {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

section {
    background-color: azure;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

button {
    width: 10rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    background-color: rgb(30, 107, 215);
    cursor: pointer;
}

.modal-main {
    display: none;
}

.modal-main.is-open {
    display: flex;
    background-color: rgb(68, 66, 66);
    width: 100%;
    min-height: 100vh;
}

.modal {
    display: none;
}
.modal.is-open {
    display: block;
    background-color: rgb(214, 211, 211);
    width: 500px;
    height: 550px;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;

    width: 20px;
    height: 20px;
    margin: 2px 0 0 2px;
    border: none;
    border-radius: 50px;

    cursor: pointer;
}

h2, h3 {
    margin: 10px;
}
.question {
    padding: 5px;
    margin-left: 25px;
    line-height: 1.5;
}

ul {
    margin-left: 8px;
}

li {
    text-indent: 40px;
    line-height: 1.5;
}